* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: red; */
}

.container {
    background-color: whitesmoke;
    padding: 32px;
    color: #fff;
}

nav {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    list-style-type: none;
    color: #fff;
    
}


a {
    text-decoration: none ;
}

/* a {
    text-decoration: none;
    gap: 2rem;
    
} */

.para {
    text-align: center;
    font-weight: 500;
}

.hero  { 
    text-align: center;
    padding: 32px;
}

.skills {
    text-align: center;
}

.list-items {
    padding: 64px;
    margin: 32px;
    display: block;
    list-style-type: none;
}

.list-me {
    display: block;
}




